{% extends 'basePdf.html.twig' %}

{% block body %}

	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<div class="page-header margin-none">
				<h4 class="padding-none"> Detalle de la Igesia en {{ envio.iglesia }} correspondiente a {{ envio.mes }} del {{ envio.anio|date('Y') }}</h4>
			</div>
		    <div class="table-responsive">
					<table table id="t04">
						<tbody>
							<tr>
								<th>Iglesia</th>
								<td>{{ envio.iglesia }}</td>
								<th>Aporte Voluntario 1</th>
								<td>{{ envio.aporteA }}</td>
							</tr>
							<tr>
								<th>Fecha</th>
								<td>{{ envio.fechaAt|date('d-m-Y') }}</td>
								<th>Aporte Voluntario 2</th>
								<td>{{ envio.aporteB }}</td>
							</tr>
							<tr>
								<th>Mes</th>
								<td>{{ envio.mes }}</td>
								<th>-</th>
								<td>-</td>
							</tr>
							<tr>
								<th>Año</th>
								<td>{{ envio.anio|date('Y') }}</td>
								<th>-</th>
								<td>-</td>
							</tr>
							<tr>
								<th>Operación</th>
								<td>{{ envio.operacion }}</td>
								<th>-</th>
								<td>-</td>
							</tr>
							<tr>
								<th>Cajero</th>
								<td>{{ envio.cajero }}</td>
								<th>-</th>
								<td>-</td>
							</tr>
							<tr>	
								<th>Detalle Enviado</th>
								<td>{{ envio.createAt|date('d-m-Y') }}</td>
								<th>-</th>
								<td>-</td>
							</tr>
							<tr>
								<th></th>
								<td></td>
								<th>Total</th>
								<td>{{ envio.total }}</td>
							</tr>
							
						

						</tbody>
					</table>

			<center>


			</center>
			<br />
			<br />
			<br />
	</div>
</div>
</div>

{% endblock %}