{% extends 'basePdf.html.twig' %}

{% block body %}

	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<div class="page-header margin-none">
				<h4 class="padding-none"> Detalle de la Igesia en {{ envio.iglesia }} correspondiente a {{ envio.mes }} del {{ envio.anio|date('Y') }}</h4>
			</div>
		    <div class="table-responsive">
					<table table id="t04">
						<tbody>
							<tr>
								<th>Iglesia</th>
								<td align="right">{{ envio.iglesia }}</td>
								<th>Diezmo de Diezmo</th>
								<td align="right">{{ envio.dDiezmo }}</td>
							</tr>
							<tr>
								<th>Fecha</th>
								<td align="right">{{ envio.fechaAt|date('d-m-Y') }}</td>
								<th>Fondo Solidario</th>
								<td align="right">{{ envio.fSolidario }}</td>
							</tr>
							<tr>
								<th>Mes</th>
								<td align="right">{{ envio.mes }}</td>
								<th>Cuota de Socio</th>
								<td align="right">{{ envio.cuota }}</td>
							</tr>
							<tr>
								<th>Año</th>
								<td align="right">{{ envio.anio|date('Y') }}</td>
								<th>Diezmo Personal</th>
								<td align="right">{{ envio.dPersonal }}</td>
							</tr>
							<tr>
								<th>Operación</th>
								<td align="right">{{ envio.operacion }}</td>
								<th>Ofrenda Misionera</th>
								<td align="right">{{ envio.misionera }}</td>
							</tr>
							<tr>
								<th>Cajero</th>
								<td align="right">{{ envio.cajero }}</td>
								<th>Ofrenda Rayos</th>
								<td align="right">{{ envio.rayos }}</td>
							</tr>
							<tr>	
								<th>Detalle Enviado</th>
								<td align="right">{{ envio.createAt|date('d-m-Y') }}</td>
								<th>Ofrenda Gavillas</th>
								<td align="right">{{ envio.gavillas }}</td>
							</tr>
							<tr>
								<th></th>
								<td align="right"></td>
								<th>F.M.N.</th>
								<td align="right">{{ envio.fmn }}</td>
							</tr>
							<tr>
								<th></th>
								<td></td>
								<th>Total</th>
								<td align="right">{{ envio.total }}</td>
							</tr>
							
						
						

						</tbody>
					</table>

			<center>


			</center>
			<br />
			<br />
			<br />
	</div>
</div>
</div>

{% endblock %}